Import Data

In [10]:
import pandas as pd

income_df = pd.read_csv("../notebooks/kaggle_income_edited.csv")
income_df.head()

                                                                                                                                 kaggle_income
id      State_Name State_ab County         City       Place           Type Area_Code Lat       Lon        Mean  Median Stdev             sum_w
1011000 Alabama    AL       Mobile County  Chickasaw  Chickasaw city  City 251       30.77145  -88.079697 38773 30506  33101  1638.26051309172
1011010 Alabama    AL       Barbour County Louisville Clio city       City 334       31.708516 -85.611039 37725 19528  43789  258.017684685483
1011020 Alabama    AL       Shelby County  Columbiana Columbiana city City 205       33.191452 -86.615618 54606 31930  57348  926.030999750251
1011030 Alabama    AL       Mobile County  Satsuma    Creola city     City 251       30.874343 -88.009442 63919 52814  47707   378.11461910293

In [11]:
shootings_df = pd.read_csv("../notebooks/shootings.csv")
shootings_df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [32]:
new_income_df = income_df["State_Name"]
new_income_df.head()

KeyError: 'State_Name'